
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AppView</title>
</head>
<body>
    <div id="left">
        <div id="top">
            <div id="menu-button"></div>
            <div id="search">
                <input type="text" />
                <span class="fa fa-search"></span>
            </div>
        </div>
        <div id="folder-menu">

        </div>
    </div>

</body>
</html>
