
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AppView</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet"/>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Site.js"></script>
</head>
<body ng-app="app" ng-controller="main">
    <div id="background-container"></div>
    <div id="left-container">
        <div id="left">
            <div id="top-left">
                <span id="menu-toggle-button" class="fa fa-bars glyph-button"></span>
                <input type="text" class="input-search" />
                <span id="search-button" class="fa fa-search"></span>
            </div>
            <div id="folder-menu">
                <div>
                    <span id="user-info-button">
                        <img src="~/Content/Images/logo.png" width="40" height="40" />
                        <span id="username" class="folder-title">Sergey</span>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                    <span id="activities-button" class="fa fa-bell-o"></span>
                </div>

                <div id="user-info">
                    <div class="user-info-item">btn1</div>
                    <div class="user-info-item">button 2</div>
                    <div class="user-info-item">3</div>
                    <div class="user-info-item"><a href="/account/logout/">logout</a></div>
                </div>

                <div id="folder-container">
                    <div class="folder" ng-repeat="folder in folders">
                        <div class="folder-description" ng-click="ToggleFolder($event);">
                            <span class="left-side">
                                <img src="/Content/Images/logo.png" width="40" height="40">
                                <span class="folder-title">{{folder.Name}}</span>
                            </span>
                        </div>
                        <div class="to-do-list-container">
                            <div class="to-do-list" ng-repeat="todolist in folder.ToDoLists" ng-click="SetSelectedToDoList(todolist.Id);">
                                <span>{{todolist.Name}}</span>
                                <span class="right-side">
                                    <span class="missed">3</span>
                                    <span class="total">6</span>
                                </span>
                            </div>
                        </div>
                    </div> @* .folder*@
                </div> @* #folder-container*@
            </div> @* #folder-menu*@ 
        </div> @*left*@
    </div>

    <div id="center">
        <div id="top-line">
            folder name here
        </div>
        <div id="add-item">
            <span class="fa fa-plus" id="add-item-icon"></span>
            <input type="text" @*id="add-item-input"*@ />
        </div>
        <div id="active-item-container">
            <div class="task" ng-repeat="item in items">
                <span class="checkbox-item"></span>
                <span>{{item.Name}}</span>
            </div>
        </div>
    </div>
    <script>
        $('#user-info').hide();
        $('#user-info-button').click(function () {
            $('#user-info').toggle();
        });

        var isLeftHide = false;
        $('#menu-toggle-button').click(function () {
            if (isLeftHide) {
                $('#left-container').css('width', '300px');
                $('#center').css('left', '300px');
            } else {
                $('#left-container').css('width', '50px');
                $('#center').css('left', '50px');
            }
            isLeftHide ^= true;
        });


        var app = angular.module('app', []);
        app.controller('main', function ($scope, $http) {
            $scope.items = [];
            $http.get('/folder/GetFolders/').then(function (responce) {
                $scope.folders = responce.data;
                //console.log(responce);
            });

            $scope.ToggleFolder = function (event) {
                $(event.currentTarget).siblings('.to-do-list-container').toggle(500);
                //console.log(event);
            };

            $scope.SetSelectedToDoList = function (Id) {
                $http.get('/item/GetItems?toDoListId=' + Id).then(function (responce) {
                    $scope.items = responce.data;
                    console.log(responce);
                });
            }
        });
    </script>
</body>
</html>
