
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AppView</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/normalize.css" rel="stylesheet" />*@
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet"/>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    @*<script src="~/Scripts/Site.js"></script>*@
</head>
<body ng-app="app" ng-controller="main">
    <div id="background-container"></div>
    <div id="left-container">
        <div id="left">
            <div id="top-left">
                <span id="menu-toggle-button" class="fa fa-bars glyph-button"></span>
                <input type="text" class="input-search" />
                <span id="search-button" class="fa fa-search"></span>
            </div>
            <div id="folder-menu">
                <div id="user-info-button">
                    <span id="user-info-label">
                        @*<img src="~/Content/Images/logo.png" width="40" height="40" />*@
                        <span id="username">{{user.Name}}</span>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                    @*<span id="activities-button" class="fa fa-bell-o"></span>*@
                </div>

                <div id="user-info">
                    <div class="user-info-item" data-toggle="modal" data-target="#modal-1">Profile</div>
                    <div class="user-info-item"><a href="/account/logout/" class="span-href">logout</a></div>
                </div>

                <div id="folder-container">
                    <div class="folder" ng-repeat="folder in folders">
                        <div class="folder-description" ng-click="ToggleFolder($event);">
                            <span class="left-side">
                                <img src="/Content/Images/logo.png" width="40" height="40">
                                <span class="folder-title">{{folder.Name}}</span>
                            </span>
                            <span class="right-side">
                                <span class="fa fa-pencil-square" onclick="targetInstanceId=+($(this).attr('data-todolist-id'));" data-todolist-id="{{folder.Id}}" data-toggle="modal" data-target="#modal-edit-folder"></span>
                                <span type="button" class="fa fa-plus" onclick="creatingFolderId=+($(this).attr('data-folder-id'));" data-folder-id="{{folder.Id}}" data-toggle="modal" data-target="#modal-create-todolist"></span>
                                <span class="fa fa-trash" ng-click="DeleteFolder(folder.Id);"></span>
                            </span>
                        </div>
                        <div class="to-do-list-container">
                            <div class="to-do-list" ng-repeat="todolist in folder.ToDoLists" ng-click="SetSelectedToDoList(todolist.Id);" ondrop="DragItemFinish(event);" ondragover="event.preventDefault();" data-db-id="{{todolist.Id}}">
                                <span class="todolist-name">{{todolist.Name}}</span>
                                <span class="right-side">
                                    @*<span class="missed">3</span>
                                    <span class="total">6</span>*@
                                    <span class="fa fa-pencil-square" onclick="targetInstanceId=+($(this).attr('data-todolist-id'));" data-todolist-id="{{todolist.Id}}" data-toggle="modal" data-target="#modal-edit-todolist"></span>
                                    <span class="fa fa-trash" ng-click="DeleteToDoList(todolist.Id);"></span>
                                </span>
                            </div>
                        </div>
                    </div> @* .folder*@
                </div> @* #folder-container*@
                <button id="create-folder" class="fa fa-plus btn btn-info" data-toggle="modal" data-target="#modal-create-folder">Create folder</button>
            </div> @* #folder-menu*@ 

            
        </div> @*left*@
    </div>

    <div id="center">
        <div id="add-item">
            <span class="fa fa-plus" id="add-item-icon"></span>
            <input type="text" id="add-item-input" onkeypress="AddItem(event);" placeholder="Add a to-do"/>
        </div>
        <div id="active-item-container">
            <div class="task" ng-repeat="item in activeItems" title="{{item.Note}}" data-db-id="{{item.Id}}" draggable="true" ondragstart="DragItemStart(event);">
                <span class="fa fa-square-o" ng-click="SetCompletion($event,true);" data-db-id="{{item.Id}}"></span>
                <span class="item-name">{{item.Name}}</span>
                <span class="right-side item-right">
                    <span>{{item.dueDate}}</span>
                    <span class="fa fa-edit" data-toggle="modal" data-target="#modal-edit-item" ng-click="PrepareToUpdateItem($event,item);"></span>
                </span>
            </div>
        </div>
        <a id="toggle-disabled-items" href="#disabled-item-container" data-toggle="collapse">SHOW COMPLETED TO-DOS</a>
        <div id="disabled-item-container" class="collapse">
            <div class="task" ng-repeat="item in disabledItems">
                <span class="fa fa-check-square-o" ng-click="SetCompletion($event,false);" data-db-id="{{item.Id}}"></span>
                <span class="item-name"><strike>{{item.Name}}</strike></span>
                <span class="right-side fa fa-edit"></span>
            </div>
        </div>
    </div>

    <div id="right">
        <form id="update-item">
            <i class="glyphicon glyphicon-remove close" onclick="RightVisibility(false);"></i>
            <input type="text" placeholder="Name" name="name" value="{{itemEditor.name}}" />
            <input type="text" placeholder="Note" name="note" value="{{itemEditor.note}}" />
            <button type="button" class="btn btn-info" ng-click="EditItem($event);" data-db-id="{{itemEditor.id}}">Submit</button>
        </form>
        <input type="date" id="due-date"/>
        <button class="btn btn-info" ng-click="SetDueDate($event);">Set due date</button>
        <span class="fa fa-trash btn btn-danger" id="button-remove-item" data-db-id="{{itemEditor.id}}" ng-click="RemoveItem($event);">Remove</span>
    </div>

    <script src="~/Scripts/Site.js"></script>

    <div class="modal fade" id="modal-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">
                        <i class="fa fa-close"></i>
                    </button>
                    <h4 class="modal-title">Profile</h4>
                    <div style="width:100px;height:100px;background-color:cadetblue"><img id="photo" src="/account/GetPhoto" /></div>
                    <form id="user-image-form" onsubmit="return false;">
                        <input type="file" id="input-photo"/>
                        <button type="submit" ng-click="ChangePhoto($event);">Change photo</button>
                    </form>
                </div>
                <div class="modal-body">
                    <form id="profile">
                        <input type="text" value="{{user.Name}}"/>
                        <button class="btn btn-default" ng-click="CahngeUserName($event);" data-dismiss="modal">Change Name</button>
                        <p>Email: {{user.Email}}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-create-folder">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">
                        <i class="fa fa-close"></i>
                    </button>
                    <h4 class="modal-title">Create Folder</h4>
                </div>
                <div class="modal-body">
                    <form id="create-folder-form">
                        <span>Name</span>
                        <input type="text" placeholder="Name" name="name"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="AddFolder($event);">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-create-todolist">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">
                        <i class="fa fa-close"></i>
                    </button>
                    <h4 class="modal-title">Create to-do list</h4>
                </div>
                <div class="modal-body">
                    <form id="create-todolist-form">
                        <span>Name</span>
                        <input type="text" placeholder="Name" name="name" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="AddToDoList($event);">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-edit-todolist">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">
                        <i class="fa fa-close"></i>
                    </button>
                    <h4 class="modal-title">Edit to-do list</h4>
                </div>
                <div class="modal-body">
                    <form id="edit-todolist-form">
                        <span>Name</span>
                        <input type="text" placeholder="Name" name="name" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="EditToDoList($event);">Rename</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-edit-folder">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">
                        <i class="fa fa-close"></i>
                    </button>
                    <h4 class="modal-title">Edit folder</h4>
                </div>
                <div class="modal-body">
                    <form id="edit-todolist-form">
                        <span>Name</span>
                        <input type="text" placeholder="Name" name="name" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="EditFolder($event);">Rename</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
