@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Title</title>
    <script src="~/Scripts/angular.min.js"></script>
</head>
<body>
    <div>
        <a href="~/account/login">login</a><br />
        <a href="~/account/register">register</a><br />
        <a href="~/account/private">private page</a><br />
        <a href="~/account/useraccount">useraccount</a><br />
        <a href="~/folder/GetFillFolders">get fill folders (exception)</a><br />
        <a href="~/folder/GetFolders">get folders</a><br />
        <a href="~/account/logout">log out</a><br />
        <a href="~/home/AppView">app view</a>
    </div>
</body>
</html>
